@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  -webkit-font-smoothing: antialiased;
  color: #a8a8a8;
  padding: 0 100px;

  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

@media (max-width: 1000px) {
  body {
    padding: 0 50px;
  }
}

@media (max-width: 700px) {
  body {
    padding: 0 30px;
  }
}
