.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container form {
  width: 500px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container form h1 {
  font-size: 40px;
  font-weight: bold;
  color: #e6e6e6;
  margin-bottom: 40px;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #4d4d4d;
  margin-bottom: 4px;
}

.form-group input {
  padding: 12px 8px;
  width: 100%;

  font-size: 18px;
  color: #c7c7c7;

  background-color: #121212;
  border-radius: 8px;
  border: 2px solid #262626;

  outline: none;
}

form button {
  padding: 12px 8px;
  width: 100%;

  font-size: 18px;
  color: #4d4d4d;

  background-color: #f9a826;
  border-radius: 8px;
  border: 2px solid #f9a826;
}

form button:hover {
  filter: brightness(1);
}

form .register {
  margin-top: 32px;
  text-align: center;
  color: #4d4d4d;
}

form .register a {
  color: #f3ffd3;
  text-decoration: none;
}

@media (max-width: 700px) {
  .container form {
    padding: 0;
  }
}
